<nav>
  <div class="site-title">
    <a href="/home">
      <h1>CAR Service</h1>
    </a>
  </div>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/contact">Contact us</a></li>
  </ul>
</nav>