<nav>
  <div class="site-title">
    <a href="/admin">
      <h1>CAR Service</h1>
    </a>
  </div>
  <ul>
    <li><a href="/admin">Home</a></li>
    <li><a href="/users-list">Users</a></li>
    <li><a href="/clients">Clients</a></li>
    <li><a href="/cars">Cars</a></li>
    <li><a href="/interventions">Interventions</a></li>
    <li><a href="/employees">Employees</a></li>
    <li><a href="/services">Services</a></li>
  </ul>
</nav>