<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>CAR Service|Login</title>
</head>
<body> 
<h1 class="first-page">CAR Service</h1>
  <div class="col-container">
    <div class="col">
      <div class="card">
        <img class ="avatar" src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Already a member?</b></h4>
          <a class="active" href="http://localhost:3002/login">
            <input type="button" value="Login">
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img class="avatar" src="img_avatar2.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>New here?</b></h4>
          <a class="active" href="http://localhost:3002/register">
            <input type="button" value="Register">
          </a>
        </div>
      </div>
    </div>
  </div>
</body> 
</html>